@import "../../../../stylesheets/main";

tree {
	
	ul {
		list-style: none;          

		li{
			.box {            
				line-height: 25px;
				.cbx {
					background: salmon;
					width: 50px;
					display: block;
					float: left;
					left:0;
					border: 1px solid black;
				}
				.text {
					width: calc(100% - 50px);
					float:left;
					border-bottom: 1px solid black;
					border-top: 1px solid black;    

					&:hover {
						background-color: lightgreen;
					}
				} 
			}
		}
	}

	.padding{
		padding-left: 10px;
	}


	/*&:after{
		@include clearfix();
	}*/

	/*li {
		line-height: 35px;
		.box{

		}

		.cbx{
			position: absolute;
			left:0;
			border: 1px solid black;   
			padding-right: 27px;
			//margin-top: -1px;         
		}
		.text{
			border: 1px solid black;
			.icon{
				color:blue;
			}
		}


		&::before{
			content: "test";
			width: 10px;
			height: 10px;
			background: red;  
			position: absolute;
			left: 0;
		}
	}*/


}